<section>
  <header>
    <h1>
      <%= @wish_list.title %>
      <button data-controller="favorite-btn"
              data-action="click->favorite-btn#toggle"
              data-id="<%= @wish_list.id %>"
              data-liked="<%= current_user.liked_wish_lists.include?(@wish_list) %>"
              >
        <i class="fa-regular fa-thumbs-up"
           data-favorite-btn-target="icon"></i>
      </button>
    </h1>
  </header>
  <article>
    <%= simple_format(@wish_list.description) %>
  </article>

  <%= form_with(model: @comment, url: wish_list_comments_path(@wish_list), local: false) do |f| %>
    <div>
      <div>留言：</div>
      <%= f.text_area :content %><br />
      <%= f.submit "新增留言" %>
    </div>
  <% end %>

  <ul class="comments">
    <%= render @comments %>
  </ul>
</section>

<script>
</script>
