<h1>註冊</h1>

<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit "註冊" %>
<% end %>
